ul.select {
  list-style-type: none;
  margin: 0;
  padding: 7px;
  height: 309px;
  background-color: #fff;
  border: 1px solid #bbb;
  overflow: auto;
}
li.checkbox {
  clear: both;
  display: block;
  margin-bottom: 2px;
  padding: 3px;
  border: 1px solid #e0e0e0;
  background-color: #eee;
}
li.checkbox:hover {
  background-color: #0095DA;
  border: 1px solid #34599b;
  color: #fff;
  cursor: pointer;
}
label.checkbox {
  clear: none;
  margin: 0 0 0 5px;
  padding: 0;
}
input.checkbox {
  float: left;
  display: block;
}
textarea.contacts {
  margin: 0;
  padding: 5px;
  width: 280px;
  height: 300px;    
}